@media screen and (max-width:768px) {
  .card{
    width:70%;
    margin-left:0%;
  }
  .input-group{
    width: 20em;
  }
}  
  nav{
  position: relative;
  margin-top: 0px;
  width: 100%;
}
#logo{
  font-size: 2em;
  font-family: 'Montserrat',sans-serif;
  font-weight: 100;
}
ul,a{
  list-style: none;
  text-decoration:none;
}
button{
  color: #FFEFD6;
  background-color: rgb(20, 14, 63);
  border: transparent;
  border-radius: 0.5em;
}

#search{
  border-radius: 0.8em;
  border:rgba(26, 11, 231, 0.25) 3px solid;
  box-shadow:#FFEFD6;
  float: right;
  color:white;
  background-color: transparent;
}

img{
 width: auto;
border-radius: 1em;
}
.card{
  border-radius: 1.5em;
  border: none;
  background:none;
}

.popular{
  font-size: 2em;
}

#login-form{
  background: none;
}
hr{
  color: aliceblue;
}
.input-fields{
  border-radius: 0.5em;
  border: none;
  background: #FFEFD6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cinechart{
  font-family: 'Inika',sans-serif;
}

.login-button{
  font-size: 1em;
}

.profPic{
  border-radius: 3em;
  background-color: #FFEFD6;
}